<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>购物车</title>
   <link rel="stylesheet" href="/static/css/cart.css"/>
   <script src="/static/js/jquery-3.4.1.js"></script>
   <script src="/static/js/jquery.cookie.js"></script>
   <script src="/static/js/cart.js"></script>
 </head>
 <body>
  <div class="container">
		<!-- 1、网页头部 -->
		<div id="top">
			<!-- 1.1 右：列表 -->
			<ul id="list">
				<li id="login">
					<a href="/login/">[登录]</a>
					,
					<a href="/register/">[注册有惊喜]</a>
				</li>
				<li>
					<b></b>
					果园公告
				</li>
				<li>
					<b></b>
					<a href="#">券卡兑换</a>
				</li>
				<li>
					<b></b>
					手机果园
				</li>
			</ul>
			<!-- 1.2 左：三个超链接 -->
			<!-- 1.2.1  -->
			<a href="#" class="address">
				北京
				<u></u>
			</a>
			<!-- 1.2.2 满百包邮 -->
			<a>满百包邮(环郊内)</a>
			<!-- 1.2.3 星夜达 -->
			<a href="#" class="xing">次日达</a>
		</div>
		<!-- 2、LOGO 和 热门搜索 -->
		<!-- 3、BANNER广告(横幅广告) -->
		<div id="banner">
{#			<img src="/static/img/banner1.jpg">#}
<!-- 图片轮播-->
			<div class="wrapper">
				<img src="/static/img/banner1.jpg">
				<img src="/static/img/banner2.jpg">
				<img src="/static/img/banner3.jpg">
			</div>
			<ul class="imgNav">
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
			</ul>
		</div>
		<!-- 4、四幅小广告 -->
		<ul id="adv-img">
			<li>
				<a href="#">
					<img src="/static/img/2ba20598135dbba5e97d241ebfa167d9.jpg">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/static/img/25af37592bf484fbeaef1cc4ff1e09c7.jpg">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/static/img/904419aa2e364412b3c07c3cbda24ef9.jpg">
				</a>
			</li>
			<li class="no-margin">
				<a href="#">
					<img src="/static/img/d72b849b461c08d991c265df00a1bfde.jpg">
				</a>
			</li>
		</ul>
		<!-- 5、网页主体内容(各种产品) -->
		<div id="main">
      <div class="title">
        <p class="check-box">
          <input type="checkbox" id="checkall" name="allcheck" onclick="demo()">
          全选
        </p>
        <p class="goods">商品</p>
        <p class="price">单价</p>
        <p class="quantity">数量</p>
        <p class="t-sum">小计</p>
        <p class="action">操作</p>
      </div>
      <div id="good-content">
        <div class="g-item">
          <p class="check-box">
            <input type="checkbox">
            <img src="/static/img/1-270x270-430-9RBRWTU9.jpg" width="80">
          </p>
          <p class="goods">少时诵诗书</p>
          <p class="price">&yen;169</p>
          <p class="quantity">数量</p>
          <p class="t-sum">
            <b>&yen;169</b>
          </p>
          <p class="action">
            <a href="#">移除</a>
          </p>
        </div>
        <div class="g-item">
          <p class="check-box">
            <input type="checkbox">
            <img src="/static/img/1-270x270-430-9RBRWTU9.jpg" width="80">
          </p>
          <p class="goods">少时诵诗书</p>
          <p class="price">&yen;169</p>
          <p class="quantity">数量</p>
          <p class="t-sum">
            <b>&yen;169</b>
          </p>
          <p class="action">
            <a href="#">移除</a>
          </p>
        </div>
      </div>

		</div>
		<!-- 5、网页主体内容结束-->
		<!-- 6、网页底部 -->
      <div style="width: 990px;height: 30px;">
          <p style="text-align: center;"><input  type="button" value="结算"></p>
      </div>
      <div id="footer" style="height:100px;border-top: 3px orange solid;">
            <div class="foot_link">
                <a href="">配送说明&nbsp;&nbsp;| </a>
                <a href="">&nbsp;&nbsp;关于我们</a>
            </div>
            <div class="power">
                Copyright&copy;2019-2020
            </div>
        </div>
	</div>
 </body>
</html>
